.autores{
    background: var(--verde-claro);
}

.autores__titulo{
    padding: 2rem;
    font-size: 23px;
    font-weight: 700;
    color: var(--verde-escuro);
}

.autores__div{
    display: flex;
}

.autores__imagem{
    margin: 1rem;
    max-width: 8rem;
}

.autores__texto{
    display: flex;
    align-items: center;
    color: var(--verde-texto);
    margin: .4rem 0;
    
}
.autores__descricao{
    padding: 3rem 0rem;
}

.fa{
    color:var(--verde-texto);
    
}

.fa:hover{
    font-size: 1.03rem;
    color: var(--verde-escuro);
    transition: color .2s ease;
}
@media screen and (min-width: 1200px) {
    .autores__responsividade{ 
        display: flex;
        flex-wrap: wrap;
        padding: 0 auto;
        
    }

    .autores__div{
        padding: 0 2.8rem;
    }
}