.formulario__titulo{
    padding: 2rem;
    font-size: 23px;
    font-weight: 700;
    color: var(--verde-escuro);
}

.formulario__link{
    margin-bottom: 6rem;
}

@media screen and (min-width: 1200px) {
    .formulario__link{
        width: 500px;
        height: 450px;
        
    }
}
