.importancia{
    background: var(--verde-claro);
}

.importancia__titulo{
    padding: 2rem;
    font-size: 23px;
    font-weight: 700;
    color: var(--verde-escuro);
    
}

.importancia__imagem{
    padding-left: 1rem;
}

.importancia__imagem-cartilha-part03{
    padding-left: 1.8rem;
}

.importancia__cartilha{
    display: flex;
    padding: .6rem;
    border: solid var(--verde-escuro) .3rem;
    border-radius: 2rem;
    margin: 1rem 3rem;
    margin-bottom: var(--verde-escuro);

    align-items: center;
    justify-content: center;
}

.importancia__cartilha-download{
    text-decoration-line: none;
}

.importancia__cartilha-texto{
    padding-left: 1rem;
    text-decoration: none;
    color: var(--verde-texto);
    font-style: bold;
}

.importancia__cartilha-texto:hover{
    color: var(--marrom-escuro);
    transition: color .2s ease;
}

.importancia__imagem-cartilhacompleta{
    display: none;
}

@media screen and (min-width: 1200px) {

    .importancia__titulo{
        padding: 2.5rem 3rem;
    }

    .importancia__div-imagem{
        display: flex;
        justify-content: center;
    }

    .importancia__imagem{
        padding: 0 5rem;
    }

    .importancia__cartilha{
        width: 17%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 2rem 41%;
    }

    .importancia__imagem{
        display: none;
    }

    .importancia__imagem-cartilhacompleta{
        display: block;
    }
    
}