.importancia{
    background: var(--verde-claro);
}

.importancia__titulo{
    padding: 2rem;
    font-size: 23px;
    font-weight: 700;
    color: var(--verde-escuro);
    
}

.importancia__imagem{
    padding-left: .8rem;
}

.importancia__cartilha{
    display: flex;
    padding: .6rem;
    border: solid var(--verde-escuro) .3rem;
    border-radius: 2rem;
    margin: 2rem 3rem;
    
}

.importancia__cartilha-texto{
    padding-left: 1rem;
    text-decoration: none;
    color: var(--verde-texto);
    
}

@media screen and (min-width: 1200px) {

    .importancia__titulo{
        padding: 2.5rem 3rem;
    }
    .importancia__imagem{
        padding: 0 5rem;
    }

    .importancia__cartilha{
        max-width: 17%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}