hr {
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.developed__link{
    margin-top: 0.8em;
    font-size: 14px;
    color: var(--azul);
    text-decoration: none;
    cursor: pointer;
}


.lista-rodape {
    display: none;
}

@media screen and (min-width: 797px) {
    .rodape{
        display: flex;
        justify-content: space-around;
        background-color: var(--cinza-branco);
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo{
        color: var(--cinza-claro);
        font-size: 14px;
        text-transform: uppercase;

    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 1em;
    }

}



@media screen and (min-width: 1200px) {

    .rodape {
        padding: 3em 0;
    }

    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}

/*Developer Information */
.footer{
    border-top: 2px solid var(--verde-texto);
    background: var(-cinza);
    width: 100%;
    height:70px;

    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.footer-socials{
    list-style: none;
    display: flex;
    align-items: center;

    margin-bottom: .6rem;
}

.footer-socials li{
    margin: 0 10px;
}

.footer-content a{
    text-decoration: none;
    color: var(--verde-texto);
}

.footer-content a i{
    font-size: 1.1rem;
    transition: color .2s ease;
}

.footer-content a:hover i{
    color: var(--verde-escuro);
    transition: color .2s ease;
}

.footer-inf{
    color: var(--verde-texto);
}
