b{
    font-weight: 700;
    color: var(--verde-escuro);
}

.sobre{
    background-color: var(--branco);
}

.sobre__titulo {
    padding: 2rem;
    font-size: 23px;
    font-weight: 700;
    color: var(--verde-escuro);
}

.sobre__texto{
    padding: 1rem 1.5rem;
    align-items: center;
    line-height: 1.5rem;
}
.sobre__imagem{
    padding: 1em 8em;
    max-width: 6rem;
    
}

@media screen and (min-width: 1200px) {

    .sobre__titulo{
        padding: 2.5rem 3rem;
    }

    .sobre__texto{
        padding: 1rem 5rem;
    }

    .sobre__imagem{
        padding: 0 5rem;
    }


}