b{
    font-weight: 700;
    color: var(--verde-escuro);
}

.sobre{
    background-color: var(--branco);
}

.sobre__titulo {
    padding: 2rem;
    font-size: 23px;
    font-weight: 700;
    color: var(--verde-escuro);
}

.sobre__texto{
    padding: 1rem 1.5rem;
    align-items: center;
    line-height: 1.5rem;
    margin: 0 1.5rem;
    text-align:justify;
}
.sobre__imagem{
    padding: 1em 8em;
    margin-bottom: 1.5rem;
    max-width: 6rem;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1200px) {

    .sobre__titulo{
        padding: 2.5rem 3rem;
    }

    .sobre__texto{
        padding: 1rem 7rem;
        margin: 0 2rem 0 3rem;
    }

    .sobre__imagem{
        padding: 1rem 50%;
    }


}