.ueafto__titulo{
    padding: 2rem 2rem 0rem 2rem;
    font-size: 23px;
    font-weight: 700;
    color: var(--verde-escuro);
}

.ueafto__imagem{
    margin: 1rem 1rem 0rem 1rem;
    max-width: 16rem;
    padding: 1rem 10%;
}

.ueafto__texto{
    padding: 1rem 1rem 1.5rem 1rem;
    align-items: center;
    color: var(--verde-texto);
    line-height: 1.5rem;
    margin: 0 1.5rem;
    text-align:justify;
}

@media screen and (min-width: 1200px) {
    .ueafto__div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5rem;
    }

    .ueafto__imagem{
        margin: 1rem 3rem 1rem 3rem;
        max-width: 25rem;
        padding: 1rem;
    }

    .ueafto__texto{
        padding: 1rem 4rem 1rem 2rem;
    }
}